In [3]:
import pandas as pd

# Load the data
train_data = pd.read_csv('/content/fraudTrain.csv')
test_data = pd.read_csv('/content/fraudTest.csv')

# Explore the data
print(train_data.head())
print(train_data.info())
print(train_data.describe())

# Print column names to identify categorical features
print(train_data.columns)

   Unnamed: 0 trans_date_trans_time            cc_num  \
0           0   2019-01-01 00:00:18  2703186189652095
1           1   2019-01-01 00:00:44      630423337322
2           2   2019-01-01 00:00:51    38859492057661
3           3   2019-01-01 00:01:16  3534093764340240
4           4   2019-01-01 00:03:06   375534208663984

                             merchant       category     amt      first  \
0          fraud_Rippin, Kub and Mann       misc_net    4.97   Jennifer
1     fraud_Heller, Gutmann and Zieme    grocery_pos  107.23  Stephanie
2                fraud_Lind-Buckridge  entertainment  220.11     Edward
3  fraud_Kutch, Hermiston and Farrell  gas_transport   45.00     Jeremy
4                 fraud_Keeling-Crist       misc_pos   41.96      Tyler

      last gender                        street  ...      lat      long  \
0    Banks      F                561 Perry Cove  ...  36.0788  -81.1781
1     Gill      F  43039 Riley Greens Suite 393  ...  48.8878 -118.2105
2  Sanchez      M      594 White Dale Suite 530  ...  42.1808 -112.2620
3    White      M   9443 Cynthia Court Apt. 038  ...  46.2306 -112.1138
4   Garcia      M              408 Bradley Rest  ...  38.4207  -79.4629

   city_pop                                job         dob  \
0    3495.0          Psychologist, counselling  1988-03-09
1     149.0  Special educational needs teacher  1978-06-21
2    4154.0        Nature conservation officer  1962-01-19
3    1939.0                    Patent attorney  1967-01-12
4      99.0     Dance movement psychotherapist  1986-03-28

                          trans_num     unix_time  merch_lat  merch_long  \
0  0b242abb623afc578575680df30655b9  1.325376e+09  36.011293  -82.048315
1  1f76529f8574734946361c461b024d99  1.325376e+09  49.159047 -118.186462
2  a1a22d70485983eac12b5b88dad1cf95  1.325376e+09  43.150704 -112.154481
3  6b849c168bdad6f867558c3793159a81  1.325376e+09  47.034331 -112.561071
4  a41d7549acf90789359a9aa5346dcb46  1.325376e+09  38.674999  -78.632459

   is_fraud
0       0.0
1       0.0
2       0.0
3       0.0
4       0.0

[5 rows x 23 columns]
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7815 entries, 0 to 7814
Data columns (total 23 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   Unnamed: 0             7815 non-null   int64
 1   trans_date_trans_time  7815 non-null   object
 2   cc_num                 7815 non-null   int64
 3   merchant               7815 non-null   object
 4   category               7815 non-null   object
 5   amt                    7815 non-null   float64
 6   first                  7815 non-null   object
 7   last                   7815 non-null   object
 8   gender                 7814 non-null   object
 9   street                 7814 non-null   object
 10  city                   7814 non-null   object
 11  state                  7814 non-null   object
 12  zip                    7814 non-null   float64
 13  lat                    7814 non-null   float64
 14  long                   7814 non-null   float64
 15  city_pop               7814 non-null   float64
 16  job                    7814 non-null   object
 17  dob                    7814 non-null   object
 18  trans_num              7814 non-null   object
 19  unix_time              7814 non-null   float64
 20  merch_lat              7814 non-null   float64
 21  merch_long             7814 non-null   float64
 22  is_fraud               7814 non-null   float64
dtypes: float64(9), int64(2), object(12)
memory usage: 1.4+ MB
None
       Unnamed: 0        cc_num          amt           zip          lat  \
count  7815.00000  7.815000e+03  7815.000000   7814.000000  7814.000000
mean   3907.00000  4.078117e+17    68.661363  49479.396340    38.595821
std    2256.14051  1.295068e+18   115.530027  27184.827244     5.198199
min       0.00000  6.041621e+10     1.010000   1257.000000    20.027100
25%    1953.50000  1.800184e+14     9.785000  26041.000000    34.852700
50%    3907.00000  3.518759e+15    48.490000  49259.000000    39.376400
75%    5860.50000  4.653879e+15    82.220000  72476.000000    41.846700
max    7814.00000  4.992346e+18  3178.510000  99783.000000    65.689900

              long      city_pop     unix_time    merch_lat   merch_long  \
count  7814.000000  7.814000e+03  7.814000e+03  7814.000000  7814.000000
mean    -90.688408  8.823451e+04  1.325583e+09    38.599153   -90.685832
std      14.512405  2.944470e+05  1.359720e+05     5.226026    14.532152
min    -165.672300  2.300000e+01  1.325376e+09    19.165823  -166.550779
25%     -97.235100  7.410000e+02  1.325448e+09    34.913072   -97.322865
50%     -87.764400  2.395000e+03  1.325583e+09    39.392224   -87.772889
75%     -80.143075  1.905400e+04  1.325704e+09    41.923981   -80.187209
max     -67.950300  2.906700e+06  1.325815e+09    66.645176   -66.967742

          is_fraud
count  7814.000000
mean      0.005759
std       0.075673
min       0.000000
25%       0.000000
50%       0.000000
75%       0.000000
max       1.000000
Index(['Unnamed: 0', 'trans_date_trans_time', 'cc_num', 'merchant', 'category',
       'amt', 'first', 'last', 'gender', 'street', 'city', 'state', 'zip',
       'lat', 'long', 'city_pop', 'job', 'dob', 'trans_num', 'unix_time',
       'merch_lat', 'merch_long', 'is_fraud'],
      dtype='object')

In [4]:
train_data = train_data.drop( columns= ['trans_date_trans_time'])
test_data = test_data.drop( columns= ['trans_date_trans_time'])

In [13]:
train_data = train_data.dropna()

In [14]:
train_data.isnull().sum()

Unnamed: 0    0
cc_num        0
merchant      0
category      0
amt           0
first         0
last          0
gender        0
street        0
city          0
state         0
zip           0
lat           0
long          0
city_pop      0
job           0
dob           0
trans_num     0
unix_time     0
merch_lat     0
merch_long    0
is_fraud      0
dtype: int64

In [17]:
test_data = test_data.dropna()
test_data.isnull().sum()

Unnamed: 0    0
cc_num        0
merchant      0
category      0
amt           0
first         0
last          0
gender        0
street        0
city          0
state         0
zip           0
lat           0
long          0
city_pop      0
job           0
dob           0
trans_num     0
unix_time     0
merch_lat     0
merch_long    0
is_fraud      0
dtype: int64

In [15]:
print(train_data)

      Unnamed: 0            cc_num                             merchant  \
0              0  2703186189652095           fraud_Rippin, Kub and Mann
1              1      630423337322      fraud_Heller, Gutmann and Zieme
2              2    38859492057661                 fraud_Lind-Buckridge
3              3  3534093764340240   fraud_Kutch, Hermiston and Farrell
4              4   375534208663984                  fraud_Keeling-Crist
...          ...               ...                                  ...
7809        7809  3558881852140592                   fraud_Bernhard Inc
7810        7810  6524376634971418                 fraud_Murray-Smitham
7811        7811  2348245054386329              fraud_Hackett-Lueilwitz
7812        7812  2283743876903625                  fraud_Koepp-Witting
7813        7813   213195754007681  fraud_Robel, Cummerata and Prosacco

           category     amt        first      last gender  \
0          misc_net    4.97     Jennifer     Banks      F
1       grocery_pos  107.23    Stephanie      Gill      F
2     entertainment  220.11       Edward   Sanchez      M
3     gas_transport   45.00       Jeremy     White      M
4          misc_pos   41.96        Tyler    Garcia      M
...             ...     ...          ...       ...    ...
7809  gas_transport   41.28  Christopher      Holt      M
7810    grocery_pos  132.27      Jasmine    Foster      F
7811    grocery_pos   83.51       Justin       Gay      M
7812    grocery_pos   64.04      Shannon  Williams      F
7813  gas_transport   66.86      Zachary     Allen      M

                                street            city  ...      lat  \
0                       561 Perry Cove  Moravian Falls  ...  36.0788
1         43039 Riley Greens Suite 393          Orient  ...  48.8878
2             594 White Dale Suite 530      Malad City  ...  42.1808
3          9443 Cynthia Court Apt. 038         Boulder  ...  46.2306
4                     408 Bradley Rest        Doe Hill  ...  38.4207
...                                ...             ...  ...      ...
7809               05597 Michael Spurs           Parks  ...  35.2563
7810          954 White Alley Apt. 251   Phil Campbell  ...  34.3470
7811           268 Hayes Rue Suite 811     Harborcreek  ...  42.1767
7812  9345 Spencer Junctions Suite 183      Alpharetta  ...  34.0770
7813      69252 Oconnor Alley Apt. 153           Ollie  ...  41.2001

          long  city_pop                                job         dob  \
0     -81.1781    3495.0          Psychologist, counselling  1988-03-09
1    -118.2105     149.0  Special educational needs teacher  1978-06-21
2    -112.2620    4154.0        Nature conservation officer  1962-01-19
3    -112.1138    1939.0                    Patent attorney  1967-01-12
4     -79.4629      99.0     Dance movement psychotherapist  1986-03-28
...        ...       ...                                ...         ...
7809 -111.9500     759.0             Geologist, engineering  1957-03-28
7810  -87.7154    5778.0             Engineer, aeronautical  1952-12-05
7811  -79.9416    2518.0                    Event organiser  1946-02-02
7812  -84.3033  165556.0                     Prison officer  1997-12-27
7813  -92.1354     568.0          Commercial horticulturist  1969-07-24

                             trans_num     unix_time  merch_lat  merch_long  \
0     0b242abb623afc578575680df30655b9  1.325376e+09  36.011293  -82.048315
1     1f76529f8574734946361c461b024d99  1.325376e+09  49.159047 -118.186462
2     a1a22d70485983eac12b5b88dad1cf95  1.325376e+09  43.150704 -112.154481
3     6b849c168bdad6f867558c3793159a81  1.325376e+09  47.034331 -112.561071
4     a41d7549acf90789359a9aa5346dcb46  1.325376e+09  38.674999  -78.632459
...                                ...           ...        ...         ...
7809  ce34f77817f8e6abe543d65aa488bbe0  1.325815e+09  34.964059 -111.203646
7810  e11d567d20b74f412c644122f57b7152  1.325815e+09  34.011938  -88.080823
7811  dc5380f7b501f8fae23741ae9426ea87  1.325815e+09  41.328228  -79.226936
7812  eefe1322ac9155ed949e3c71b35ccc37  1.325815e+09  33.376781  -83.592263
7813  bb4b4d3d673dddf931fc71c12e090b1d  1.325815e+09  40.955293  -92.395676

      is_fraud
0          0.0
1          0.0
2          0.0
3          0.0
4          0.0
...        ...
7809       0.0
7810       0.0
7811       0.0
7812       0.0
7813       0.0

[7814 rows x 22 columns]

In [18]:
print(test_data)

      Unnamed: 0            cc_num                              merchant  \
0              0  2291163933867244                 fraud_Kirlin and Sons
1              1  3573030041201292                  fraud_Sporer-Keebler
2              2  3598215285024754  fraud_Swaniawski, Nitzsche and Welch
3              3  3591919803438423                     fraud_Haley Group
4              4  3526826139003047                 fraud_Johnston-Casper
...          ...               ...                                   ...
7792        7792      577588686219                   fraud_Langworth LLC
7793        7793   377113842678100                fraud_Fritsch and Sons
7794        7794  6538891242532018          fraud_Torp, Muller and Borer
7795        7795     4658117080136                     fraud_Haley Group
7796        7796  2720830304681674                   fraud_Kozey-Kuhlman

            category     amt    first        last gender  \
0      personal_care    2.86     Jeff     Elliott      M
1      personal_care   29.84   Joanne    Williams      F
2     health_fitness   41.28   Ashley       Lopez      F
3           misc_pos   60.05    Brian    Williams      M
4             travel    3.19   Nathan      Massey      M
...              ...     ...      ...         ...    ...
7792   personal_care   31.36    James  Strickland      M
7793  health_fitness  152.25    Billy   Gallagher      M
7794  health_fitness   32.66     Jodi   Rodriguez      F
7795        misc_pos    8.50   Dwayne    Martinez      M
7796   personal_care   20.09  Melissa     Aguilar      F

                              street           city  ...      lat      long  \
0                  351 Darlene Green       Columbia  ...  33.9659  -80.9355
1                   3638 Marsh Union        Altonah  ...  40.3207 -110.4360
2               9333 Valentine Point       Bellmore  ...  40.6729  -73.5365
3        32941 Krystal Mill Apt. 552     Titusville  ...  28.5697  -80.8191
4           5783 Evan Roads Apt. 465       Falmouth  ...  44.2529  -85.0170
...                              ...            ...  ...      ...       ...
7792              25454 Leonard Lake  Spring Church  ...  40.6153  -79.4545
7793                673 Delgado Burg      Greenwich  ...  39.4055  -75.3209
7794         5796 Lee Coves Apt. 286   Walnut Ridge  ...  36.0244  -90.9288
7795      490 Baldwin Alley Apt. 468     Crownpoint  ...  35.7206 -108.0271
7796  21326 Taylor Squares Suite 708    Clarksville  ...  36.5220  -87.3490

      city_pop                                    job         dob  \
0       333497                    Mechanical engineer  1968-03-19
1          302                 Sales professional, IT  1990-01-17
2        34496                      Librarian, public  1970-10-21
3        54767                           Set designer  1987-07-25
4         1126                     Furniture designer  1955-07-06
...        ...                                    ...         ...
7792       972     Public relations account executive  1997-10-23
7793       804                Insurance risk surveyor  1965-03-25
7794      7155  Engineer, control and instrumentation  1977-03-23
7795      5662                          IT consultant  1989-04-08
7796    151785                            Pathologist  1974-03-28

                             trans_num     unix_time  merch_lat  merch_long  \
0     2da90c7d74bd46a0caf3777415b3ebd3  1.371817e+09  33.986391  -81.200714
1     324cc204407e99f51b0d6ca0055005e7  1.371817e+09  39.450498 -109.960431
2     c81755dbbbea9d5c77f094348a7579be  1.371817e+09  40.495810  -74.196111
3     2159175b9efe66dc301f149d3d5abf8c  1.371817e+09  28.812398  -80.883061
4     57ff021bd3f328f8738bb535c302a31b  1.371817e+09  44.959148  -85.884734
...                                ...           ...        ...         ...
7792  857c71fa2688cbe24ece5b32cd464e95  1.371993e+09  40.218211  -78.883741
7793  f7acd865db256104d0ce1b8a1ffbae05  1.371993e+09  39.935513  -75.179333
7794  6070406dc6dce186b67636e216419ead  1.371993e+09  35.702523  -90.870504
7795  f36fdd434c182ce310169da03766f859  1.371993e+09  34.883752 -108.588882
7796  f7a3f70dbbcca903324b9c22d98ffd47  1.371993e+09  36.373711  -87.343330

      is_fraud
0          0.0
1          0.0
2          0.0
3          0.0
4          0.0
...        ...
7792       0.0
7793       0.0
7794       0.0
7795       0.0
7796       0.0

[7797 rows x 22 columns]

In [19]:
# Replace these with actual categorical columns identified from the dataset
categorical_features = ['merchant', 'category' , 'first' , 'last' , 'gender' , 'street' , 'city' , 'state' , 'job' , 'dob' , 'trans_num']  # Replace with actual categorical columns
numerical_features = [col for col in train_data.columns if col not in categorical_features + ['is_fraud']]
# Replace these with actual categorical columns identified from the dataset
categorical_features = ['merchant', 'category' , 'first' , 'last' , 'gender' , 'street' , 'city' , 'state' , 'job' , 'dob' , 'trans_num']  # Replace with actual categorical columns
numerical_features = [col for col in train_data.columns if col not in categorical_features + ['is_fraud']]

In [20]:
from sklearn.preprocessing import StandardScaler, OneHotEncoder
from sklearn.compose import ColumnTransformer
from sklearn.impute import SimpleImputer
from sklearn.pipeline import Pipeline

# Preprocessing for numerical data
numerical_transformer = Pipeline(steps=[
    ('imputer', SimpleImputer(strategy='mean')),
    ('scaler', StandardScaler())
])

# Preprocessing for categorical data
categorical_transformer = Pipeline(steps=[
    ('imputer', SimpleImputer(strategy='most_frequent')),
    ('onehot', OneHotEncoder(handle_unknown='ignore'))
])

# Bundle preprocessing for numerical and categorical data
preprocessor = ColumnTransformer(
    transformers=[
        ('num', numerical_transformer, numerical_features),
        ('cat', categorical_transformer, categorical_features)
    ])

In [21]:
# Preprocess and prepare the data
X_train = train_data.drop(columns=['is_fraud'])
y_train = train_data['is_fraud']
X_test = test_data.drop(columns=['is_fraud'])
y_test = test_data['is_fraud']

# Fit and transform the training data, transform the test data
X_train_preprocessed = preprocessor.fit_transform(X_train)
X_test_preprocessed = preprocessor.transform(X_test)

In [22]:
from sklearn.model_selection import train_test_split

# Split the training data into training and validation sets
X_train_split, X_val_split, y_train_split, y_val_split = train_test_split(X_train_preprocessed, y_train, test_size=0.2, random_state=42)

In [23]:
from sklearn.linear_model import LogisticRegression
from sklearn.tree import DecisionTreeClassifier
from sklearn.ensemble import RandomForestClassifier

# Initialize models
log_reg = LogisticRegression()
decision_tree = DecisionTreeClassifier()
random_forest = RandomForestClassifier()

# Train models
log_reg.fit(X_train_split, y_train_split)
decision_tree.fit(X_train_split, y_train_split)
random_forest.fit(X_train_split, y_train_split)

RandomForestClassifier()

In [24]:
from sklearn.metrics import accuracy_score, precision_score, recall_score, f1_score

# Function to evaluate models
def evaluate_model(model, X_val, y_val):
    y_pred = model.predict(X_val)
    accuracy = accuracy_score(y_val, y_pred)
    precision = precision_score(y_val, y_pred)
    recall = recall_score(y_val, y_pred)
    f1 = f1_score(y_val, y_pred)
    return accuracy, precision, recall, f1

# Evaluate models
log_reg_metrics = evaluate_model(log_reg, X_val_split, y_val_split)
decision_tree_metrics = evaluate_model(decision_tree, X_val_split, y_val_split)
random_forest_metrics = evaluate_model(random_forest, X_val_split, y_val_split)

print("Logistic Regression metrics:", log_reg_metrics)
print("Decision Tree metrics:", decision_tree_metrics)
print("Random Forest metrics:", random_forest_metrics)

Logistic Regression metrics: (0.9974408189379399, 0.9090909090909091, 0.7692307692307693, 0.8333333333333333)
Decision Tree metrics: (0.9987204094689699, 0.9230769230769231, 0.9230769230769231, 0.9230769230769231)
Random Forest metrics: (0.999360204734485, 1.0, 0.9230769230769231, 0.9600000000000001)

In [25]:
# Assuming Random Forest performs the best
best_model = random_forest

In [26]:
# Predict on test data
y_test_pred = best_model.predict(X_test_preprocessed)

# Evaluate on test data
test_accuracy, test_precision, test_recall, test_f1 = evaluate_model(best_model, X_test_preprocessed, y_test)
print("Test set metrics:", test_accuracy, test_precision, test_recall, test_f1)

Test set metrics: 0.9966653841220983 0.0 0.0 0.0